.filter {

    &__container {
        padding: 10px 15px;
        width: 15%;
        height: 350px;
        border-radius: 3px;
        background-color: #212121;

        @media (max-width:700px) {
            width: 17%;
            padding: 7px 7px;
        }
    }  
}

.brend {

    &__container {
        width: 100%;
    }

    &__title {
        font-size: 26px;
        font-weight: 700;
        color: #CAD3C8;
        margin-bottom: 10px;

        @media (max-width:700px) {
            font-size: 100%;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-left: 7px;

        @media (max-width:700px) {
            margin-left: 3px;
        }

        &-item {
            font-size: 100%;
            color: #CAD3C8;
            transition: 0.5s;

            @media (max-width:700px) {
                font-size: 100%;
            }


            &:hover {
                font-size: 20px;
                text-decoration: none;
            }
        }
    }
}