@keyframes slide {
    0% {
        margin-left: 0px;
    }

    33% {
        margin-left: -33%;
    }

    // 66% {   
    //     margin-left: -66%;
    // }
}


.carusel {

    &__container {
        width: 80%;
        margin: 0 10%;
        height: auto;
        top: 15px;
        left: 450px;
        box-sizing: border-box;
        overflow: hidden;
        user-select: none;

        @media (max-width:450px) {
            width: 55%;
            height: 65px;
        }
    }

    &__row {
        display: flex;
        width: 100%;
        height: 100%;
        width: 400%;
        
    }

    &__item {
        width: 25.33333%;
        height: 100%;
        text-align: center;
        justify-content: center;
        box-sizing: border-box;
        margin: 0 auto;
    }
}

.add-1 {
    animation: slide 10s infinite ease;
} 

.add-2 {
    animation: slide 10s infinite ease;
} 

.add-3 {
    animation: slide 10s infinite ease;
} 