.notPage {

    &__container {
        width: 100%;

        box-sizing: border-box;

        @media (max-width:450px) {
            padding-top: 15px;
        }
    }

    &__infoBox {
        margin: 0 auto;
        padding: 220px 0;
        width: 40%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width:450px) {
            width: 70%;
            padding: 140px 0;
        }
    }

    &__info {
        font-size: 56px;
        font-weight: 700;
        text-align: center;
        color: #212121;
        margin-bottom: 30px;
        font-family: "Alumni Sans", sans-serif;

        @media (max-width:700px) {
            font-size: 40px;
        }
    }

    &__btn {
        font-size: 20px;
        font-family: "Alumni Sans", sans-serif;
        padding: 7px 15px;
        border: 1px solid #212121;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s ease-in-out;

        &:hover {
            border-bottom: 3px solid #212121;
            border-radius: 10px;
        }

        @media (max-width:450px) {
            font-size: 16px;
        }
    }
}   